.skymp-input {
  background: transparent;
  border: none;
  outline: none;
  color: currentColor;
  font: inherit;

  &[type="password"] {
    font-family: Arial, Helvetica, sans-serif;
  }

  &__wrapper {
    font-family: var(--skymp-content-font);
    color: var(--skymp-color-fg);
    display: flex;
    width: fit-content;
    border-bottom: 1px solid currentColor;
    padding: 0 0.5rem;
    transition-property: color;
    transition-duration: var(--skymp-transition-duration);
    transition-timing-function: var(--skymp-transition-timing-function);
  }

  &__icon-wrapper {
    margin-right: 0.5rem;
  }

  &_focus,
  &_wrapper:hover {
    color: var(--skymp-color-primary);
  }
}

.skymp-input-password {
  display: flex;
  width: fit-content;
  color: var(--skymp-color-fg);
  border-bottom: 1px solid var(--skymp-color-fg);

  &__icon-wrapper {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-right: 0.5rem;
  }

  &__input {
    border-bottom: none;
  }
}
