@font-face {
  font-family: "BankirRetro";
  src: url("../fonts/BankirRetro.eot");
  src: local("../fonst/BankirRetro"),
    url("../fonts/BankirRetro.eot#iefix") format("embedded-opentype"),
    url("../fonts/BankirRetro.woff") format("woff"),
    url("../fonts/BankirRetro.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "FuturaCondencedNormal";
  src: url("../fonts/FuturaCondencedNormal.eot");
  src: local("../fonst/FuturaCondencedNormal"),
    url("../fonts/FuturaCondencedNormal.eot#iefix") format("embedded-opentype"),
    url("../fonts/FuturaCondencedNormal.woff") format("woff"),
    url("../fonts/FuturaCondencedNormal.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
