.skymp-window {
  display: flex;
  position: absolute;
  flex-direction: column;
  align-items: center;
  & .frame {
    &-corners {
      stroke: none;
    }
    &-lines {
      fill: none;
    }
  }

  & .background {
    -webkit-clip-path: url("#clip-polygon");
    clip-path: url("#clip-polygon");
  }

  & .logo,
  & .header,
  & .content,
  & .footer {
    overflow: hidden;
    z-index: 1;
  }
}
