.skymp-checkbox {
  display: flex;
  align-items: center;
  width: fit-content;
  color: var(--sky-color-fg);
  font-family: var(--skymp-content-font);
  padding: 1px 6px;

  &__icon > *,
  &__children {
    transition-property: color, opacity;
    transition-duration: var(--sky-transition-duration);
    transition-timing-function: var(--sky-transition-timing-function);
  }

  &:hover,
  &:focus,
  &:active {
    color: var(--sky-color-primary);
  }

  &_left {
    & .skymp-checkbox__icon {
      margin-right: 0.25rem;
    }
  }

  &_right {
    flex-direction: row-reverse;

    & .skymp-checkbox__icon {
      margin-left: 0.25rem;
    }
  }

  &_disabled {
    cursor: not-allowed;
    &:hover {
      color: var(--sky-color-fg);
    }
  }

  cursor: pointer;
}
