.skymp-window {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__frame {
    &-corners {
      stroke: none;
    }
    &-lines {
      fill: none;
    }
  }

  &__logo,
  &__header,
  &__content,
  &__footer {
    overflow: hidden;
    z-index: 1;
  }
}

.dash {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: dash 1s infinite linear;
}

@keyframes dash {
  from {
    stroke-dashoffset: 1000;
  }
  to {
    stroke-dashoffset: 1;
  }
}
