@function hex-to-rgb($hex) {
  @return red($hex), green($hex), blue($hex);
}

@mixin set-colors(
  $skymp-color-primary: #ffffff,
  $skymp-color-bg: #000000,
  $skymp-color-fg: #9d9e9e
) {
  --skymp-color-primary: #{$skymp-color-primary};
  --skymp-color-primary-rgb: #{hex-to-rgb($skymp-color-primary)};
  --skymp-color-bg: #{$skymp-color-bg};
  --skymp-color-bg-rgb: #{hex-to-rgb($skymp-color-bg)};
  --skymp-color-fg: #{$skymp-color-fg};
  --skymp-color-fg-rgb: #{hex-to-rgb($skymp-color-fg)};
}

:root {
  @include set-colors();

  // fonts
  --skymp-font-header: "BankirRetro";
  --skymp-font-content: "FuturaCondencedNormal";
  // animation
  --skymp-transition-duration: 0.2s;
  --skymp-transition-timing-function: ease;

  ::selection {
    color: var(--skymp-color-primary);
    background: var(--skymp-color-fg);
  }
}
