@function hex-to-rgb($hex) {
  @return red($hex), green($hex), blue($hex);
}

@mixin set-colors(
  $sky-color-primary: #ffffff,
  $sky-color-bg: #000000,
  $sky-color-fg: #9d9e9e
) {
  --sky-color-primary: #{$sky-color-primary};
  --sky-color-primary-rgb: #{hex-to-rgb($sky-color-primary)};
  --sky-color-bg: #{$sky-color-bg};
  --sky-color-bg-rgb: #{hex-to-rgb($sky-color-bg)};
  --sky-color-fg: #{$sky-color-fg};
  --sky-color-fg-rgb: #{hex-to-rgb($sky-color-fg)};
}

:root {
  @include set-colors();

  // fonts
  --sky-font-header: "BankirRetro";
  --sky-font-content: "FuturaCondencedNormal";
  // animation
  --sky-transition-duration: 0.2s;
  --sky-transition-timing-function: ease;

  ::selection {
    color: var(--sky-color-primary);
    background: var(--sky-color-fg);
  }
}
